<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<style>
	</style>
</head>

<body>
    <h2>Inserte un nuevo anuncio</h2>
	<form action="/nuevoAnuncio" method="post">
		nombre: <input type="text" name="nom">
		asunto: <input type="text" name="asunt">
		descripcion: <input type="text" name="desc">
		<input type="submit" value="Confirmar">
	</form>
</body>

</html>